################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/fae.console/.vs/fae.console
/fae.console/obj
